* {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    background: white;
}
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.header-size {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 1144px;
    padding: 5px;
    background: white;
}
.header-logo {
    flex-basis: 20%;
}
.header-title {
    display: flex;
    justify-content: center;
    flex-basis: 80%;
}
#alura {
    height: 30px;
}
#alura:hover {
    filter: drop-shadow(0 0 2px rgba(90, 143, 230, 5));
}
#title-encrypt {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: rgb(48, 48, 48);
}
#container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#screen {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    width: 1164px;
    height: 520px;
}
#background-svg {
    position: absolute;
    z-index: -5;
    width: 130%;
    max-width: 1164px;
    height: 520px;
    max-height: 520px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-basis: 100%;
}
textarea {
    margin: 15px;
    border: none;
    resize: none;
    text-align: justify;
}
textarea:focus {
    outline: none;
}
#input-text {
    height: 300px;
}
#output-text {
    height: 270px;
    display: none;
}
.exclamation {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.warning-text {
    font-size: 12px;
    margin-left: 15px;
}
#war-text {
    display: none;
}
.box-place {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(255, 255, 255, 0.8);
    height: 380px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px gray;
    flex-basis: 35%;
}
textarea::placeholder {
    font-size: 15px;
}
.title-warning {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 15px;
}
.warning-text2 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 140px;
    color: rgb(71, 71, 71);
}
.warning-text3 {
    font-size: 12px;
    color: rgb(85, 85, 85); 
    margin-top: 10px;
}
.done-encrypt {
    font-weight: bold;
    display: none;
}
.done-decrypt {
    font-weight: bold;
    display: none;
}
.position-toy {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
#toy {
    width: 120px;
    height: 120px;
    align-items: end;
}
#circle {
    animation: movecircle 5s infinite;
}
#circle2 {
    animation: movecircle 4s infinite;
}
#circle1 {
    animation: movecircle 3s infinite;
}
@keyframes movecircle {
    0% {opacity: 0;
        transform: translateX(-5%);
    }
    50% {opacity: 5;
        transform: translateX(0%);
    }
    100% {opacity: 0;
        transform: translateX(5%);
    }
}
@keyframes movecircle1 {
    0% {opacity: 0;
        transform: translateX(-5%);
    }
    50% {opacity: 5;
        transform: translateX(0%);
    }
    100% {opacity: 0;
        transform: translateX(5%);
    }
}
@keyframes movecircle2 {
    0% {opacity: 0;
        transform: translateX(-5%);
    }
    50% {opacity: 5;
        transform: translateX(0%);
    }
    100% {opacity: 0;
        transform: translateX(5%);
    }
}
.button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    flex-basis: 72%;
}
#btn {
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px black;
    transform: scale(1);
}
#btn:hover {
    transform: scale(1.03);
    font-weight: bold;
}
.btn-one {
    background: white;
    margin-right: 13px;
    flex-basis: calc((100% / 4) - 10px);
}
.btn-two {
    background: rgb(225, 227, 230);
    margin-right: 17px;
    flex-basis: calc((100% / 4) - 10px);
}
.btn-three {
    background: white;
    margin-right: 8px;
    flex-basis: calc((100% / 4) - 10px);
}
.btn-for {
    background: rgb(225, 227, 230);
    margin-right: 2px;
    flex-basis: calc((100% / 4) - 10px);
}
.btn-two:hover, .btn-for:hover {
    background: white;
    font-weight: bold;
}
@keyframes windmill {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(0.1deg);}
    20% {transform: skewY(0.3deg);}
    30% {transform: skewX(-0.3deg);}
    40% {transform: rotate(0.1deg);}
    50% {transform: skewY(0.3deg);}
    60% {transform: skewX(-0.3deg);}
    70% {transform: rotate(0.1deg);}
    80% {transform: skewY(0.3deg);}
    90% {transform: skewX(-0.3deg);}
    100% {transform: rotate(0.1deg);}
}
.st1 {
    animation: windmill 6s infinite;
}
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#footer-order {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    width: 1164px;
    height: 60px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 0px 20px rgb(146, 146, 146);
}
#title-footer {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    color: rgb(71, 71, 71);
    padding-left: 10px;
    flex-basis: 20%;
}
.rrss {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 70%;
}
.rrss img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#linkedin, #github {
    filter: grayscale(100%);
}
#linkedin:hover {
    filter: grayscale(0%);
    transition: all 400ms linear;
}
#github:hover {
    filter: grayscale(0%);
    transition: all 400ms linear;
}

/* Responsive PC and Tablet */

@media (max-width: 1067px) {
    #screen { height: 442px; }
    #background-svg { box-shadow: none; }
}
@media (max-width: 1027px) {
    .warning-text2 {
        font-size: 15px;
        text-align: center;
    }
    .warning-text3 {
        font-size: 8px;
        text-align: center;
    }
}
@media (max-width: 865px) {
    .position-toy { margin-top: 10px; }    
    .done-encrypt, .done-decrypt { font-size: 14px; }
    .button { margin-right: 26px; }
}

/* Responsive movil */

@media (max-width: 582px) {
    body { margin-top: 100px;}
    #input-text{ height: 284px;}
    #output-text{ height: 258px;}
    .done-decrypt{
        font-size: 12px;
        padding-top: 10px;    
    }
    .done-encrypt{
        font-size: 12px;
        padding-top: 10px;  
    }
}

@media (max-width: 526px) {
    header { 
        height: none;
        margin-top: 0px;
    }
    body { min-height: 100%;}
    #alura {
        height: 18px;
        padding-left: 5px;
    }
    #title-encrypt { 
        padding-top: 3px;
        font-size: 18px;
    }
    #screen {
        background-image: url("img/fondo-movil.png");
        height: 100%;
    }
    #background-svg { display: none; }
    .box {
        flex-flow: column wrap;
        padding: 5px;
    }
    .box-place {
        margin: 5px;
        height: 520px;
    }
    #input-text {
        height: 158px;
        margin: 5px;
    }
    #output-text {
        height: 138px;
        margin: 5px;
    }
    #btn {
        height: 20px;
        font-size: 10px;
    }
    .title-warning {
        margin-top: 0px;
        width: 355px;
    }    
    .warning-text {
        font-size: 11px;
        margin-left: 3px;
        padding: 5px;
    }
    .warning-text2 {padding: 20px;}
    .button {
        flex-basis: 100%;
        margin-right: 9px;
        margin-left: 10px;
        padding-bottom: 10px;
    }
    .btn-one{ 
        flex-basis: calc((100% / 4) - 10px);
    }
    .btn-two{
        flex-basis: calc((100% / 4) - 10px);
    }
    .btn-three{
        flex-basis: calc((100% / 4) - 10px);
    }
    .btn-for{
        flex-basis: calc((100% / 4) - 10px);
    }
    #footer-order{box-shadow: none;}
    .rrss img{
        width: 25px;
        height: 25px;
    }
    #title-footer{font-size: 12px;}
}